<a href="https://colab.research.google.com/github/dwtkse33/ml_GoogleColab/blob/master/%EB%84%A4%EC%9D%B4%EB%B2%84%EC%A6%9D%EA%B6%8C_%EC%9B%B9%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
# import requests
# from bs4 import BeautifulSoup as bs
# import re
# url = 'https://finance.naver.com/item/main.nhn?code=069960'
# HYUNDAI = []
# EMART = [] 
# GS_RETAIL = []
# LOTTE = []
# SHINSEGAE = []
# resp = requests.get(url)
# print(url)
# soup = bs(resp.content, 'html.parser')
# div_tag = soup.find('table', class_ = 'tb_type1 tb_num').find_all('tr')
# for j in div_tag:
#   try: 
#     name = j.find('table', class_ = 'tb_type1 tb_num').find('th').text
#     if name == '현대백화점*069960':
#        hyundai = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[0].text.strip()
#        HYUNDAI.append(hyundai)
#     elif name =='이마트*139480':
#        emart = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[1].text.strip()
#        EMART.append(emart)
#     elif name == 'GS리테일*007070':
#        gs = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[2].text.strip()
#        GS_RETAIL.append(gs)
#     elif name == '롯데쇼핑*023530':
#          lotte = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[3].text.strip()
#          LOTTE.append(lotte)
#     elif name == '신세계*004170':
#          shinse = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[4].text.strip()
#          SHINSEGAE.append(shinse)
#   except:
#       pass
# df = pd.DataFrame()
# df['CATEGORY'] = [['현재가', '전일대비', '등락률', '시가총액(억)', '외국인취득률(%)', '매출액(억)', '영업이익(억)', '조정영업이익', '영업이익증가율(%)', '당기순이익(억)', '주당순이익(원)', 'ROE(%)', 'PER(배)', 'PBR(배)']]
# df['HYUNDAI'] = HYUNDAI
# df['EMART'] = EMART
# df['GS_RETAIL'] = GS_RETAIL
# df['LOTTE'] = LOTTE
# df['SHINSEGAE'] = SHINSEGAE

# 답

* 일별로 가져오기 
# 주가 정보 획득
* 마케팅 포인트와 주가와의 상관관계 분석을 위한 주가 획득 
* 유통주 위주의 주가분석 
* 현대백화점  https://finance.naver.com/item/sise_day.nhn?code=069960&page=1

In [ ]:
import sqlite3
import requests # 내부 source를 가져오는 라이브러리 
from bs4 import BeautifulSoup as bs 
import numpy as np 
import pandas as pd

In [ ]:
url = 'https://finance.naver.com/item/sise_day.nhn?code=069960&page=1' #--> 일별시세 있는 페이지로 가기 --> 링크 뒤에다 &page=1 넣기
src = requests.get(url) #만약에 1~30페이지를 모두 웹크롤링하고 싶으면 일일이 page=1, page=2, page=30 입력해야 함

In [ ]:
result = src.content.strip()
html = bs(result, 'html.parser')
tgts = html.select('table.type2 tr')
# len(tgt)
for tgt in tgts: 
  if(tgt.select('td .p10')):
     sday = tgt.select('td .p10')[0].text.replace(",", "")
     endp = tgt.select('td.num')[0].text.replace(",", "")
     startp = tgt.select('td.num')[2].text.replace(",", "")
     maxp = tgt.select('td.num')[3].text.replace(",", "")
     minp = tgt.select('td.num')[4].text.replace(",", "")
     vol = tgt.select('td.num')[5].text.replace(",", "")
     print(sday, startp, maxp, minp, endp,  vol)
#종가 --> 전일비 --> 시가 --> 고가 --> 거래량

2020.09.15 57500 58000 56600 57600 208343
2020.09.14 57000 58400 56700 57200 324102
2020.09.11 56400 57400 56200 56300 269437
2020.09.10 56500 57200 55900 56400 262036
2020.09.09 55900 56600 55400 56000 125147
2020.09.08 56800 57100 56300 56400 152605
2020.09.07 56100 57100 55600 56300 174472
2020.09.04 55300 56200 55100 55800 194702
2020.09.03 57000 58000 56500 56500 287154
2020.09.02 56100 57800 55300 56500 370906

# 정의함수로 웹크롤링하기

In [ ]:
def stockGet(url= ''):
  src = requests.get(url)
  result = src.content.strip()
  html= bs(result, 'html.parser')
  tgts = html.select('table.type2 tr')
  # Len(tgt)
  for tgt in tgts: 
     if(tgt.select('td .p10')):
      sday = tgt.select('td .p10')[0].text.replace(",", "")
      endp = tgt.select('td.num')[0].text.replace(",", "")
      startp = tgt.select('td.num')[2].text.replace(",", "")
      maxp = tgt.select('td.num')[3].text.replace(",", "")
      minp = tgt.select('td.num')[4].text.replace(",", "")
      vol = tgt.select('td.num')[5].text.replace(",", "")
      print(sday, startp, maxp, minp, endp,  vol)
  else: 
    pass
#종가 --> 전일비 --> 시가 --> 고가 --> 거래량

In [ ]:
urlsrc = 'https://finance.naver.com/item/sise_day.nhn?code=069960&page=1' 
for i in range(1, 2): 
  print(url)
  print("#"*30)
  url = urlsrc.format(i)
  stockGet(url)

https://finance.naver.com/item/sise_day.nhn?code=069960&page=1
##############################
2020.09.15 57500 58000 56600 57600 208343
2020.09.14 57000 58400 56700 57200 324102
2020.09.11 56400 57400 56200 56300 269437
2020.09.10 56500 57200 55900 56400 262036
2020.09.09 55900 56600 55400 56000 125147
2020.09.08 56800 57100 56300 56400 152605
2020.09.07 56100 57100 55600 56300 174472
2020.09.04 55300 56200 55100 55800 194702
2020.09.03 57000 58000 56500 56500 287154
2020.09.02 56100 57800 55300 56500 370906

# SQLITE(데이터베이스 생성기)와 웹크롤링 데이터 연결하는 방법

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [93]:
%pwd

'/content'

In [94]:
%ls

gdrive/  NaverStock.db  sample_data/

In [96]:
%cd gdrive/'My Drive'/'Colab Notebooks/ml_project'

/content/gdrive/My Drive/Colab Notebooks/ml_project

In [137]:
def stockGet(url=''): 
  # url 가져와서 파싱 
  src = requests.get(url)
  result = src.content.strip()
  html = bs(result, 'html.parser')
  tgts = html.select('table.type2 tr')
  
  # Len(tgt)
  res = []
  # tgts가 10개씩 나옴, page 1에 해당 
  for tgt in tgts: 
     if(tgt.select('td .p10')): # 날짜 없는 줄은 제거 
      sday = tgt.select('td .p10')[0].text.replace(",", "")
      endp = tgt.select('td.num')[0].text.replace(",", "")
      startp = tgt.select('td.num')[2].text.replace(",", "")
      maxp = tgt.select('td.num')[3].text.replace(",", "")
      minp = tgt.select('td.num')[4].text.replace(",", "")
      vol = tgt.select('td.num')[5].text.replace(",", "")
      res.append((sday, startp, maxp, minp, endp,  vol))
  # 10개 반환 
  return res

In [145]:
def addData(whr = 'where SIDX=0'):
  with sqlite3.connect(dbname) as conn:
    cur = conn.cursor()
  conn:
    cur = conn.cursor()
    sql = 'select SIDX from StockDay'
    sql = 'insert into StockDay \
    (SIDX, SCODE, SCOMP, SDAY, OPENP, HIGHP, LOWP, CLOSEP, VOL) values (?,?,?,?,?,?,?,?,?)'
    # data = [1001, 6000, '신세계', '20200830', 30, 60, 70, 50, 250]
    # 실행하기 
    cur.execute(sql, data)
    # 변경사항 저장하기 
    conn.commit()
    cur.close

In [146]:
dfname = 'NaverStock.db'
def selData(whr = 'where SIDX=0'):
  with sqlite3.connect(dbname) as
conn:
  cur = conn.cursor()
  sql = 'select SIDX from StockDay'
def selData(whr = 'where SIDX = 0'): # 값 초기화함 
  with sqlite3.connect(dbname) as conn:
    cur = conn.cursor()
    sql = 'select SIDX from StockDay ' + whr
    result = cur.execute(sql)
    rows = cur.fetchall()
    cur.close()
  return rows

In [147]:
urlsrc = 'https://finance.naver.com/item/sise_day.nhn?code={0}&page={1}'
sCode = '069960';
sComp = '현대백화점'
for i in range(1,100):
  print("#"*30)
  url = urlsrc.format(sCode, i)
  rs = stockGet(url)
  # 데이터 100개 가져오기 

  for r in rs:
    # 데이터별 고유코드 만들기 
    sidx = r[0] + sCode 
    #### data = [1001, 6000, '신세계', '20200830', 30, 60, 70, 50, 250]
    data = [sidx, sCode, sComp, r[0], r[1], r[2], r[3], r[4], r[5]]
    # 데이터 입력하기
    preData = selData(' where SIDX ='+sidx)
    if(preData):
      print("중복데이터 입니다.", preData) 
    else: 
      addData(data)

##############################

OperationalError: ignored

In [144]:
selData()

[]

# 웹이 어떻게 구성되었는지 확인!! (아래)

<!-- index.html로 저장 -->
<!-- hyper text markup language  : html의 기능은 text를 블록화하는 것임 -->
<!-- 주석   시작태그 ~ 끝태그 document 블럭 형태로 구성되어 있음 like <html -->
<!-- html은 보통 머릿말, 본문, 꼬릿말로 구성 -->


<!doctype html>
<html>
    <head>
    <!-- css는 design 만들수 있도록 해줌 -->
    <style>
        /* css주석, 태그선택자(아래 customize하는 코드 */
    div{border: 1px solid grey;
        margin: 5px; 
    }
        /* 아이디 선택자 #(샵 사용), 특징: 아이디는 페이지내에 1개만 있음 */
    #content{
        background-color: yellow ;     
    }
        /* div안에서 일부만 명령지정하고 싶을 땐 class 사용 #사용 안함 */
    div.bgcyan{
        background-color: cyan;
    }
    </style>
    </head>
    <body> 
        <div id="wrap">
            <div id= "header", class='bgcyan'>
            <h1>머릿말</h1>
            </div>
            <div id = "content">
            본문
            </div>
            <div id = "footer, class='bgcyan'">
            꼬릿말
            </div>
        </div>
    </body>
</html>