<a href="https://colab.research.google.com/github/dwtkse33/ml_GoogleColab/blob/master/%EB%84%A4%EC%9D%B4%EB%B2%84%EC%A6%9D%EA%B6%8C_%EC%9B%B9%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np

In [7]:
# import requests
# from bs4 import BeautifulSoup as bs
# import re
# url = 'https://finance.naver.com/item/main.nhn?code=069960'
# HYUNDAI = []
# EMART = [] 
# GS_RETAIL = []
# LOTTE = []
# SHINSEGAE = []
# resp = requests.get(url)
# print(url)
# soup = bs(resp.content, 'html.parser')
# div_tag = soup.find('table', class_ = 'tb_type1 tb_num').find_all('tr')
# for j in div_tag:
#   try: 
#     name = j.find('table', class_ = 'tb_type1 tb_num').find('th').text
#     if name == '현대백화점*069960':
#        hyundai = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[0].text.strip()
#        HYUNDAI.append(hyundai)
#     elif name =='이마트*139480':
#        emart = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[1].text.strip()
#        EMART.append(emart)
#     elif name == 'GS리테일*007070':
#        gs = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[2].text.strip()
#        GS_RETAIL.append(gs)
#     elif name == '롯데쇼핑*023530':
#          lotte = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[3].text.strip()
#          LOTTE.append(lotte)
#     elif name == '신세계*004170':
#          shinse = detail_soup.find('table', class_ = 'tb_type1 tb_num').find('th')[4].text.strip()
#          SHINSEGAE.append(shinse)
#   except:
#       pass
# df = pd.DataFrame()
# df['CATEGORY'] = [['현재가', '전일대비', '등락률', '시가총액(억)', '외국인취득률(%)', '매출액(억)', '영업이익(억)', '조정영업이익', '영업이익증가율(%)', '당기순이익(억)', '주당순이익(원)', 'ROE(%)', 'PER(배)', 'PBR(배)']]
# df['HYUNDAI'] = HYUNDAI
# df['EMART'] = EMART
# df['GS_RETAIL'] = GS_RETAIL
# df['LOTTE'] = LOTTE
# df['SHINSEGAE'] = SHINSEGAE

# 답

* 일별로 가져오기 
# 주가 정보 획득
* 마케팅 포인트와 주가와의 상관관계 분석을 윟나 주가 획득 
* 유통주 위주의 주가분석 
* 현대백화점  https://finance.naver.com/item/sise_day.nhn?code=069960&page=1

In [10]:
import requests # 내부 source를 가져오는 라이브러리 
from bs4 import BeautifulSoup as bs 
import numpy as np 
import pandas as pd

In [12]:
url = 'https://finance.naver.com/item/sise_day.nhn?code=069960&page=1'
src = requests.get(url)

In [31]:
result = src.content.strip()
html = bs(result, 'html.parser')
tgts = html.select('table.type2 tr')
# len(tgt)
for tgt in tgts: 
  if(tgt.select('td .p10')):
     sday = tgt.select('td .p10')[0].text.replace(",", "")
     endp = tgt.select('td.num')[0].text.replace(",", "")
     startp = tgt.select('td.num')[2].text.replace(",", "")
     maxp = tgt.select('td.num')[3].text.replace(",", "")
     minp = tgt.select('td.num')[4].text.replace(",", "")
     vol = tgt.select('td.num')[5].text.replace(",", "")
     print(sday, endp, startp, maxp, minp, vol)
#종가 --> 전일비 --> 시가 --> 고가 --> 거래량

2020.09.15 56700 57500 58000 56600 107005
2020.09.14 57200 57000 58400 56700 324102
2020.09.11 56300 56400 57400 56200 269437
2020.09.10 56400 56500 57200 55900 262036
2020.09.09 56000 55900 56600 55400 125147
2020.09.08 56400 56800 57100 56300 152605
2020.09.07 56300 56100 57100 55600 174472
2020.09.04 55800 55300 56200 55100 194702
2020.09.03 56500 57000 58000 56500 287154
2020.09.02 56500 56100 57800 55300 370906

<!-- index.html로 저장 -->
<!-- hyper text markup language  : html의 기능은 text를 블록화하는 것임 -->
<!-- 주석   시작태그 ~ 끝태그 document 블럭 형태로 구성되어 있음 like <html -->
<!-- html은 보통 머릿말, 본문, 꼬릿말로 구성 -->


<!doctype html>
<html>
    <head>
    <!-- css는 design 만들수 있도록 해줌 -->
    <style>
        /* css주석, 태그선택자(아래 customize하는 코드 */
    div{border: 1px solid grey;
        margin: 5px; 
    }
        /* 아이디 선택자 #(샵 사용), 특징: 아이디는 페이지내에 1개만 있음 */
    #content{
        background-color: yellow ;     
    }
    </style>
    </head>
    <body> 
        <div id="wrap">
            <div id= "header">
            머릿말
            </div>
            <div id = "content">
            본문
            </div>
            <div id = "footer">
            꼬릿말
            </div>
        </div>
    </body>
</html>

# 위에 웹이 어떻게 구성되었는지 확인!!