<a href="https://colab.research.google.com/github/dwtkse33/ml_GoogleColab/blob/master/%EB%84%A4%EC%9D%B4%EB%B2%84%EC%A6%9D%EA%B6%8C_%EC%9B%B9%ED%81%AC%EB%A1%A4%EB%A7%812.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 정의함수로 웹크롤링

In [1]:
import pandas as pd 
import numpy as np 
import sqlite3
import requests
from bs4 import BeautifulSoup as bs

In [3]:
url = 'https://finance.naver.com/item/sise_day.nhn?code=007070&page=1'
src = requests.get(url)

In [4]:
result = src.content.strip()
html = bs(result, 'html.parser')
tgts = html.select('table.type2 tr')
# len(tgt)
for tgt in tgts: 
  if(tgt.select('td .p10')):
     sday = tgt.select('td .p10')[0].text.replace(",", "")
     endp = tgt.select('td.num')[0].text.replace(",", "")
     startp = tgt.select('td.num')[2].text.replace(",", "")
     maxp = tgt.select('td.num')[3].text.replace(",", "")
     minp = tgt.select('td.num')[4].text.replace(",", "")
     vol = tgt.select('td.num')[5].text.replace(",", "")
     print(sday, startp, maxp, minp, endp,  vol)
#종가 --> 전일비 --> 시가 --> 고가 --> 거래량

In [7]:
def stockGet(url = ''):
  src = requests.get(url)
  result = src.content.strip()
  html = bs(result, 'html.parser')
  tgts = html.select('table.type2 tr')

In [ ]:
  # Len(tgt)
  res = []
  # tgts가 10개씩 나옴, page 1에 해당 
  
  for tgt in tgts: 
     if(tgt.select('td .p10')): # 날짜 없는 줄은 제거 
      sday = tgt.select('td .p10')[0].text.replace(",", "")
      endp = tgt.select('td.num')[0].text.replace(",", "")
      startp = tgt.select('td.num')[2].text.replace(",", "")
      maxp = tgt.select('td.num')[3].text.replace(",", "")
      minp = tgt.select('td.num')[4].text.replace(",", "")
      vol = tgt.select('td.num')[5].text.replace(",", "")
      res.append((sday, startp, maxp, minp, endp,  vol))
  # 10개 반환 
  return res

In [10]:
res_df = pd.DataFrame(data = res)

NameError: ignored